<ion-header>
  <div id="titulo">AlertaSismoCol</div>
</ion-header>
<ion-content>
  <div id="map"></div>

  <div id="div-item" class="div-item">
    {{sismo["descripcion"]}}
  </div>
  <div id="div-items-EH">
    <div id="div-items">
      <div id="div-items-DD">
        <div><label>LATITUD: </label>
          {{sismo["latitud"]}}</div>
        <div id="td"><label>LONGITUD: </label>
          {{sismo["longitud"]}}</div>
        <div id="td"><label>MAGNITUD: </label>
          {{sismo["magnitud"]}}</div>
      </div>
    <div>
      <a (click)="clickComoActuar()">COMO ACTUAR</a>
    </div>
  </div>
  <div id="div-items-H">
    <a (click)="showHospitales()">HOSPITALES - MUNICIPIOS CERCANOS</a>
    <div id="hospital"></div>
  </div>
  </div>
</ion-content>
<ion-footer>
  universidad distrital
</ion-footer>