<ion-header>
  <div id="backIcon" (click)="backpage()"><ion-icon name="backspace-outline"></ion-icon></div>
  <div id="titulo">EARTHQUAKE</div>
</ion-header>
<ion-content>
  <div id="styleTitle">
    <h6>LISTADO ULTIMOS SISMOS</h6>
  </div>
  <ion-item *ngFor="let sismo of listasismos">
    <div id="styleList">
      <tr>
        <td id="td-Variables">descripcion</td>
        <td>{{sismo.descripcion}}</td>
      </tr>
      <tr>
        <td id="td-Variables">fecha</td>
        <td>{{sismo.fecha}}</td>
      </tr>
      <tr>
        <td id="td-Variables">latitud</td>
        <td>{{sismo.latitud}}</td>
      </tr>
      <tr>
        <td id="td-Variables">longitud</td>
        <td>{{sismo.longitud}}</td>
      </tr>
      <tr>
        <td id="td-Variables">magnitud</td>
        <td>{{sismo.magnitud}}</td>
      </tr>
      <tr>
        <td id="td-Variables">tipo movimineto</td>
        <td>{{sismo.tipoMovimento}}</td>
      </tr>
    </div>
  </ion-item>
</ion-content>
<ion-footer>
  universidad distrital
</ion-footer>